
*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 18px;
    font-family: 'Roboto', serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#selfie {
    max-width: 50%;
    border-radius: 10%;
}

header, footer {
    flex-grow: 1;
    flex-basis: 100%;
    padding: 1em;
}

header h1 {
    font-size: 3em;
    margin: 0;
    border-bottom: 5px solid black;
    font-family: 'Proza Libre', serif;
    text-align: center;
    text-transform: uppercase;
}

h1 {
    margin-bottom: 1em;
}

section {
    padding: 5em;
}

@media screen and (max-width: 680px) {
    body {
        font-size: 16px;
        flex-direction: column;
    }

    header h1 {
        font-size: 1.5em;
    }

    section {
        padding: 1em !important;
    }
}


ul {
    list-style: none;
}

section#about {
    flex-basis: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #80cbc4;
}

section#about p{
    margin: 1em 0;
    text-align: left;
    max-width: 50ch;
}


section#skills {
    background: #b6d981;
    flex-grow: 1;
}


section#experience {
    background: #4682b4;
    flex-grow: 2;
}

.tcenter {
    text-align: center;
}

footer {
    background-color: #ededed;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

#showcase {
    background: #80cbc4;
    flex-basis: 100%;
}

#showcase p {
    margin-bottom: 1em;
}